@page
@model Exercicio_01.Pages.CityManager.CreateCityModel
@{
    ViewData["Title"] = "Exercício 01";
}

<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="CityName" class="col-sm-2 control-label">Nome da Cidade</label>
        <div class="col-sm-10">
            <input asp-for="CityName" class="form-control" />
        </div>
    </div>
    <div class="form-group mt-2">
        <button class="btn btn-primary">Criar</button>
    </div>
</form>


@if (Model.CityName != null)
{
    <label class="col-sm-2 col-form-label col-form-label-lg">Cidade: <strong>@Model.CityName</strong></label>
}


