@page
@model AT.Pages.NewPages.CitiesModel
@{
    ViewData["Title"] = "Cidades";
}

<h1>Cidades</h1>

@foreach (var city in Model.Cities)
{
    @* <li>@city.Name</li> *@
    <li>
        <a asp-page="/Destinos" asp-route-name="@city.Nome">
            @city.Nome
        </a>
    </li>
}