@page
@model AT.Pages.NewPages.CreateClienteModel
@{
    ViewData["Title"] = "Cadastrar Cliente";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<h2>Cadastrar Cliente</h2>

<div class="col-4">
    <form method="post" asp-page-handler="Cliente">
        <div class="mb-2">
            <label class="mt-1" for="Nome">Nome:</label>
            <input class="form-control" type="text" id="Name" asp-for="Cliente.Nome" />
            <small class="text-danger" asp-validation-for="Cliente.Nome"></small>
        </div>
        <div class="mb-2">
            <label class="mt-1" for="Email">Email:</label>
            <input class="form-control" type="text" id="Email" asp-for="Cliente.Email" />
        </div>


        <strong>Endereço:</strong>
        <div class="mb-3">
            <label asp-for="Cliente.Endereco.Rua" class="form-label"></label>
            <input asp-for="Cliente.Endereco.Rua" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Cliente.Endereco.Cidade" class="form-label"></label>
            <input asp-for="Cliente.Endereco.Cidade" class="form-control" />
        </div>
        <button class="btn btn-success mt-2 mb-2" type="submit">Salvar Cliente</button>

        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>

@if (Model.Id != null)
{
    <div class="alert alert-success mt-3">
        Cliente cadastrado com sucesso!
    </div>
}