@page
@model AT.Pages.NewPages.CitiesModel
@{
    ViewData["Title"] = "Listas";
}

<h1>Clientes</h1>

@foreach (var item in Model.PacotesTuristicos)
{    
    <li>
        <a asp-page="/Details" asp-route-name="@item.Titulo">
            @item.Titulo
        </a>
    </li>
}