@page
@model IndexModel
@{
    ViewData["Title"] = "Página inicial";
}


<h1 class="mb-5">AT - Desenvolvimento Web com .NET e Bases de Dados</h1>


<li>
    <a asp-page="/NewPages/Listas">
        Listas
    </a>
</li>
<li>
    <a asp-page="/NewPages/CreateCliente">
        Cadastrar Cliente
    </a>
</li>
<li>
    <a asp-page="/NewPages/CreateDestino">
        Cadastrar Destino
    </a>
</li>
<li>
    <a asp-page="/NewPages/SaveNote">
        Salvar Nota
    </a>
</li>
<li>
    <a asp-page="/NewPages/ViewNotes">
        Exibir notas
    </a>
</li>
