@page "{cityName}"
@model Exercicio_08.Pages.CityDetailsModel
@{
    ViewData["Title"] = "Detalhes da Cidade";
}

<h1>Detalhes da Cidade</h1>
<p>Você está vendo detalhes de: <strong>@Model.CityName</strong></p>
