@page
@model SampleWeb.Pages.Methods.IndexModel
@{
}

<h3 class="clearfix">@Model.Mensagem</h3>
<form method="post">
    <button class="btn btn-default">
        Disparando um post
    </button>
</form>
<p>
    <a href="" class="btn btn-default">Disparando um Get</a>
</p>

<div class="row">
    <div class="col-lg-1">
        <form asp-page-handler="edit" method="post">
            <button class="btn btn-default">Editar</button>
        </form>
    </div>
    <div class="col-lg-1">
        <form asp-page-handler="delete" method="post">
            <button class="btn btn-default">Deletar</button>
        </form>
    </div>
    <div class="col-lg-1">
        <form asp-page-handler="view" method="post">
            <button class="btn btn-default">Exibir</button>
        </form>
    </div>
    <div class="col-lg-2">
        <a asp-page-handler="upperMessage" method="get">Em Maiúsculas</a>
    </div>
    <div class="col-lg-2">
        <a asp-page-handler="case" asp-route-allUpper="false" method="get">Case com Parâmetro</a>
    </div>
</div>
